<div class="appoint" style="display: block">
    <div class="top">
        <div class="config_slider_box"></div>
        <p class="goods_name">iPhone XXXXX</p>
        <div class="goods_price">
            <span class="called">234人已预约</span>
            <div class="price">
                <span class="price_num">0元预约</span>
            </div>
        </div>
    </div>
    <div class="countDown">
        <h3>预约结束倒计时</h3>
        <p>开抢时间为：<span class="start_time">2018年9月13日 00:00</span></p>
        <span class="time hour">XXX</span> : <span class="time minute">XX</span> : <span class="time second">XX</span>
    </div>
    <div class="detail_list">

    </div>
    <div class="fixed_bottom">
        <div class="btn_preLease" id="showPreModal">
            立即预约
        </div>
    </div>
    <!-- 确认预约规格 -->
    <div class="preLease_modal">
        <div class="standard_box hide">
            <img src="https://jmproduct.oss-cn-hangzhou.aliyuncs.com/manual/ca5f1d54-1841-j8c6-ebde-292d7ebdec5c" class="header" alt="未配置图片">
            <div class="goods_price">
                <div class="price">
                    <span class="price_num">0元预约</span>
                </div>
            </div>
            <ul class="standard_list">
                <li>
                    <span>版本</span>
                    <ul class="standard_item">
                        <li class="active">全网通</li>
                        <li>联通通</li>
                        <li>电信</li>
                        <li>移动</li>
                    </ul>
                </li>
            </ul>
            <div class="btn_preLease" id="btn_mark">确认预约</div>
        </div>
    </div>
    <!-- 预约结果页 -->
    <div class="result_model">
        <img src="https://jmproduct.oss-cn-hangzhou.aliyuncs.com/manual/513fcaf2-f718-j57b-ee71-977b2c70c5e4" class="result_img">
        <h3>预约成功</h3>
        <p>恭喜您已预约成功！</p>
        <div class="btns">
            <div class="btn_myOrder">我的预约</div>
            <div class="return_index">继续逛逛</div>
        </div>
    </div>
</div>