<!-- login -->
    <div class="login" style="background-color: rgba(act_背景色);background-image:url('act_背景图');display:none">
        <form>
            <div class="form_group">
                <input id="phone" type="number" placeholder="请输入手机号">
            </div>
            <div class="form_group">
                <div class="btn_sms btn" style="background-color: rgba(act_按钮背景色)">获取验证码</div>
                <input id="sms" type="number" placeholder="请输入验证码">
            </div>
            <div class="btn_submit btn" style="background-color: rgba(act_按钮背景色)">act_按钮文案</div>
        </form>
        <p style="display:act_是否显示协议">
            首次使用机蜜平台服务，登录时将创建机蜜账号，点击登录即代表您同意
            <span class="protocol">《机蜜用户服务协议》</span>
        </p>
    </div>