<!-- 登录框 -->
    <div class="modal login_model" style="display: none;">
        <div class="mo_container">
            <img src="https://jmproduct.oss-cn-hangzhou.aliyuncs.com/manual/5ecf5b4d-731e-j9ef-e718-92de60567ddb">
            <h2>Hi! <br><br>欢迎光临</h2>
            <div class="form_group">
                <input type="number" id="phone" placeholder="请输入手机号">
            </div>
            <div class="form_group">
                <div class="btn_sms">获取验证码</div>
                <input style="display: block" type="number" id="sms" placeholder="请输入验证码">
            </div>
            <p>首次使用机蜜平台服务，登录时将创建机蜜账号，点击登录即代表您同意 <span class="protocol">《机蜜用户服务协议》</span>。</p>
            <div class="btn_submit">登录</div>
        </div>
    </div>