<!-- goods -->
    <div class="goods" style="background-color: rgba(act_背景色);background-image:url('act_背景图');">
        <!-- <div class="title"> -->
            <!-- <img src="act_标题图"> -->
        <!-- </div> -->
        <div class="goods_list">
            <a onclick="goLink('act_跳转链接1','act_模块排序','0')">
                <img class="goods_item" src="act_商品图片1">
            </a>
            <a onclick="goLink('act_跳转链接2','act_模块排序','1')">
                <img class="goods_item" src="act_商品图片2">
            </a>
        </div>
    </div>