<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
    <meta content="email=no" name="format-detection">
    <title><%= code %></title>
    <script type="text/javascript">
        (function () {
            var docEl = document.documentElement;
            var resize = 'orientationchange' in window ? 'orientationchange' : 'resize';
            var setRem = function () {
                var screenWidth = docEl.clientWidth || window.screen.width || 375;
                docEl.style.fontSize = (100 * screenWidth / 1000) + 'px';
            };
            // 屏幕大小变化后重新设置rem字号
            window.addEventListener(resize, setRem, false);
            setRem();
        })();
    </script>
    <link rel="stylesheet" href="/stylesheets/base.css">
</head>

<body>
    <div class="container">